@using RM.Precificacao.Dominio.Enumeradores;
@using RM.Precificacao.Web.Extensions;

<div id="consultaMapaOfertaServico" class="popup">

    <div class="filtros fieldset">

        <h2>Filtros</h2>
        
        <div class="content">

            @using (Html.BeginForm())
            {
                <div class="campo">
                    <label>Empresa</label>
                    <br />

                    @foreach (Empresa valor in Enum.GetValues(typeof(Empresa)))
                    {
                        <div class="campoRadio">
                            <input type="radio" id="consulta_ + @valor.GetStringValue()" name="Empresa" value="@((int)valor)" />
                            <label for="consulta_ + @valor.GetStringValue()">@valor.GetStringValue()</label>
                        </div>
                    }
                </div>

                <br clear="all" />
                
                <div class="campo">
                    <label>Tipo</label>
                    <br />

                    @foreach (TipoServico valor in Enum.GetValues(typeof(TipoServico)))
                    {
                        <div class="campoRadio">
                            <input type="radio" id="consulta_ + @valor" name="Tipo" value="@((int)valor)" />
                            <label for="consulta_ + @valor">@valor.GetStringValue()</label>
                        </div>
                    }
                </div>

                <br clear="all" />
                
                <div class="campo">
                    <label>Segmento</label>
                    <br />
                    <select>
                    </select>
                </div>

                <div class="campo">
                    <label>Serviço</label>
                    <br />
                    <select>
                    </select>
                </div>

                <div class="botoes">
                    <button>Consultar</button>
                </div>
            }

        </div>
    </div>

    <section>
        <table id="tabelaConsultaMapaOfertaServicos">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Tipo</th>
                    <th>Segmento</th>
                    <th>Serviço</th>
                    <th>Referência</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </section>

</div>