@model RM.Precificacao.Web.ViewModel.ServicoIndexViewModel

@using RM.Precificacao.Dominio.Entidades;
@using RM.Precificacao.Dominio.Enumeradores;
@using RM.Precificacao.Web.Extensions;

@{
    ViewBag.Title = "Index";
}

@section headRegion {

    <script src="@Url.Content("~/Scripts/App/Views/ServicoIndex/ViewModel/ServicoIndexViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/Views/ServicoIndex/Script/ServicoIndexScript.js")" type="text/javascript"></script>
}

<h2>Mapa de Ofertas de Serviços</h2>

<div class="filtros fieldset">

    <h2>Filtros</h2>

    <div id="conteudo_filtros_mapa_oferta_servicos" class="content">

        @using (Html.BeginForm())
        { 
            <div class="campo">
                <label>Empresa</label>
                <br />

                @foreach (Empresa valor in Enum.GetValues(typeof(Empresa)))
                {
                    var isChecked = (Model.Empresa == valor);
                    
                    <div class="campoRadio">
                        <input type="radio" name="Empresa" id="@valor.GetStringValue()" value="@((int)valor)" @(isChecked ? "checked='checked'" : "") />
                        <label for="@valor.GetStringValue()">@valor.GetStringValue()</label>
                    </div>
                }
            </div>

            <div class="campo">
                <label>Tipo</label>
                <br />

                @foreach (TipoServico valor in Enum.GetValues(typeof(TipoServico)))
                {
                    var isChecked = (Model.TipoServico == valor);
                    
                    <div class="campoRadio">
                        <input type="radio" name="TipoServico" id="@valor.GetStringValue()" value="@((int)valor)" @(isChecked ? "checked='checked'" : "") />
                        <label for="@valor.GetStringValue()">@valor.GetStringValue()</label>
                    </div>
                }
            </div>

            <br clear="all" />
            
            <div class="campo">
                <label>Segmento</label>
                <br />
                <select name="IdSegmento">

                    <option>Selecione</option>

                    @foreach (Segmento segmento in Model.Segmentos)
                    {
                        <option value="@segmento.Id"
                            @(Model.IdSegmento == segmento.Id ? "selected='selected'" : "")>
                            @segmento.Descricao
                        </option>
                    }

                </select>
            </div>

            <div class="campo">
                <label>Serviço</label>
                <br />
                <input type="text" name="DescricaoServico" value="@Model.DescricaoServico" />
            </div>

            <div class="botoes">
                <button>Filtrar</button>
            </div>
        }

    </div>

</div>

<div>
    <table id="tabelaServicos">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Tipo</th>
                <th>Segmento</th>
                <th>Serviço</th>
                <th>Referência</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>

            @foreach (var servico in Model.Servicos)
            {
                <tr>
                    <td>@(((Empresa)servico.Empresa).GetStringValue())</td>
                    <td>@(((TipoServico)servico.TipoServico).GetStringValue())</td>
                    <td>@servico.Segmento.Descricao</td>
                    <td>@servico.Descricao</td>
                    <td>@((ReferenciaServico)servico.ReferenciaServico)</td>
                    <td>
                        @Html.ActionLink("Editar", "Alterar", new { @id = servico.Id }, new { @class = "alterar" }) |
                        @Html.ActionLink("Excluir", "Excluir", new { @id = servico.Id }, new { @class = "excluir" })
                    </td>
                </tr>
            }

            @*<tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>VOZ</td>
                <td>Instalação TUP</td>
                <td>Acionamento</td>
                <td>
                    <a href="/Servico/Alterar/1">Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
            <tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>VOZ</td>
                <td>Mudança de Enderaço</td>
                <td>Acionamento</td>
                <td>
                    <a href="/Servico/Alterar/2">Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
            <tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>ADSL</td>
                <td>Instalação de Acesso VDSL</td>
                <td>Acionamento</td>
                <td>
                    <a href="/Servico/Alterar/3">Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>
            <tr>
                <td>RM TELECON</td>
                <td>O&M</td>
                <td>VOZ</td>
                <td>ALTCTEC de Acesso ADSL</td>
                <td>Acionamento</td>
                <td>
                    <a href="/Servico/Alterar/4">Editar</a>
                    <a>Excluir</a>
                </td>
            </tr>*@
        </tbody>
    </table>

    <div class="botoes">
        @Html.ActionLink("Incluir", "Incluir")
    </div>
</div>